body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

#float {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
}

h1 {
  color: white;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.25px; 
  margin-top: 5vh;
  margin-bottom: 5vh;
}

h2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.75px; 
  color: #707070;
  margin-bottom: 3vh;
}

.whiteBar content {
  font-weight: bold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #2C2C2C;
}

#ipInputBar {
  display: flex;
  flex-direction: row;
  width: 35vw;
  height: 8vh;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 50px 50px -25px rgb(0 0 0 /20%);
}

#ipInput {
  width: 87%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: none;
  font-family: Rubik;
  font-size: 18px;
  padding-left: 5%;
}
#inputError {
  margin-top: 1vh;
  color: white;
  font-weight: bold;
  text-shadow: 10px 10px 10px lightgray;
}

#searchButton {
  background: black;
  color: white;
  text-align: center;
  width: 13%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
}

#infoBar {
  position: relative;
  top: 50px;
  background-color: white;
  min-height: 20vh;
  min-width: 70vw;
  border-radius: 15px;
  box-shadow: 0px 50px 50px -25px rgb(0 0 0 /20%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#infoRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2.5%;
}

#addressDiv {
  border-right: #949494 1px solid;
  padding-right: 5vw;
}

#locationDiv {
  padding-left: 2vw;
  padding-right: 5vw;
  border-right: #949494 1px solid;
}

#timeZoneDiv {
  padding-left: 2vw;
  padding-right: 5vw;
  border-right: #949494 1px solid;
}

#ispDiv {
  padding-left: 2vw;
  padding-right: 2vw;
}

#variable {
  background-image: url('./images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 35vh;
  width: 100vw;
}

#map {   
    width: 100vw;
    height: 100vh;
    margin-top: -15vh;
    z-index: -2;
}


@media screen and (max-width: 800px) {
      #variable {
      background-image: url('./images/pattern-bg-mobile.png');
      background-repeat: no-repeat;
      background-size: cover;
      max-height: 35vh;
      max-width: 100vw;
    }

    #float {
      margin-left: 5vw;
      margin-right: 5vw;
    }

    #ipInputBar {

      min-width: 90vw;
      height: 8vh;
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: 0 50px 50px -25px rgb(0 0 0 /20%);
    }

    #infoBar {
      position: relative;
      top: 20px;
      background-color: white;
      min-width: 90vw;
      border-radius: 15px;
      box-shadow: 0px 50px 50px -25px rgb(0 0 0 /20%);
    }

    #infoRow {
      background: white;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    #addressDiv {
      border: none;
      margin-top: 2vh;
      margin: 1vh;
      padding: 0;
    }

    #locationDiv {
      border: none;
      margin: 1vh;
      padding: 0;
    }

    #timeZoneDiv {
      border: none;
      margin: 1vh;
      padding: 0;
    }

    #ispDiv {
      border: none;
      margin: 1vh;
      margin-bottom: 2vh;
      padding: 0;
    }

    h2 {
      margin-bottom: 1.25vh;
    }

    #map {   
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}
}