body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}

#float {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  /* padding-top: 5vh; */
}

h1 {
  color: white;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.25px; 
  margin-top: 5vh;
  margin-bottom: 5vh;
}

h2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.75px; 
  color: #707070;
}

.whiteBar content {
  font-weight: bold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #2C2C2C;
}

#ipInputBar {
  display: flex;
  flex-direction: row;
  width: 35vw;
  height: 8vh;
  border-radius: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

#ipInput {
  width: 90%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  font-family: Rubik;
  font-size: 18px;
  padding-left: 1vw;
}

#searchButton {
  background: black;
  color: white;
  text-align: center;
  width: 10%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  /* margin-top: 20vh; */
}

#infoBar {
  position: relative;
  top: 50px;
  background-color: white;
  min-height: 20vh;
  min-width: 70vw;
  border-radius: 15px;

}

#infoRow {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 2.5%;
}

#addressDiv {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  border-right: darkslategray 1px solid;
  /* padding-left: 2vw; */
  /* padding-right: 3vw; */
}

#locationDiv {
  padding-left: 2vw;
  padding-right: 2vw;
  border-right: darkslategray 1px solid;
}

#timeZoneDiv {
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  /* grid-column-start: 3;
  grid-column-end: 4; */
  padding-left: 2vw;
  padding-right: 2vw;
  border-right: darkslategray 1px solid;
}

#ispDiv {
  /* display: flex;
  flex-direction: column;
  justify-content: start; */
  /* grid-column-start: 4;
  grid-column-end: 5; */
  padding-left: 2vw;
  padding-right: 2vw;
}

#hero {
    /* position: top sticky;  */
    width: 100vw;
    height: 35vh;
    /* margin-bottom: -5vh; */
    z-index: -1;
}

#variable {
  background-image: url('./images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
  min-height: 35vh;
  width: 100vw;
}

#map {   
    width: 100vw;
    height: 100vh;
    margin-top: -15vh;
    z-index: -2;
}