body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Rubik', sans-serif;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#float {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 5vh;
}

h1 {
  color: white;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.25px; 
}

h2 {
  font-weight: bold;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.75px; 
  color: #707070;
}

.whiteBar content {
  font-weight: bold;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #2C2C2C;
}

#ipInputBar {
  display: flex;
  flex-direction: row;
}

#searchButton {
  background: black;
  color: white;
  text-align: center;
}

#infoBar {
  position: relative;
  top: 70px;
  background-color: white;
  min-height: 20vh;
  min-width: 70vw;
  border-radius: 15px;
}

#infoRow {
  margin: 5vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5vw;
}

#addressDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-right: darkslategray 1px solid;
  padding-bottom: 2vh;
}

#locationDiv {
  /* grid-column-end: 3; */
  /* display: flex;
  flex-direction: column;
  justify-content: start; */

  padding-right: 5vw;
  border-right: darkslategray 1px solid;
}

#timeZoneDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-column-start: 3;
  grid-column-end: 4;
  padding-right: 5vw;
  border-right: darkslategray 1px solid;
}

#ispDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-column-start: 4;
  grid-column-end: 5;
  padding-right: 5vw;
}

#hero {
    /* position: top sticky;  */
    width: 100vw;
    height: 35vh;
    /* margin-bottom: -5vh; */
    z-index: -1;
}

#variable {
  background-image: url('./images/pattern-bg-desktop.png');
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: cover;
  min-height: 35vh;
  width: 100vw;
}

#map {   
    width: 100vw;
    height: 100vh;
    margin-top: -15vh;
    z-index: -2;
}